/*!
global > font
------------------------------
*/
:root {
    --font-family-base: 'Noto Sans JP', sans-serif;
    --font-family-english: 'Montserrat', sans-serif;
    --font-family-flower: 'Nanum Pen Script', cursive;
    }